
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.navbar-brand {
    font-weight: 600;
}

.ticket {
    font-size: 0.85rem;
}

.ticket-detalle th,
.ticket-detalle td {
    padding: 0.15rem 0.25rem;
}

.table-sm td, .table-sm th {
    padding: 0.3rem 0.3rem;
}
